<div th:fragment="manage-property" >
    <h1 class="mt-12 text-2xl">Property Management</h1>



    <div class="flex space-x-4">
        <!-- region button and form -->
        <div class="w-auto">
            <!-- new region button -->
            <label for="region-form-modal"
                class="cursor-pointer bg-color-1 inline-flex items-center   rounded-lg mb-4 mt-12 py-2 px-4 space-x-2 hover:bg-color-4 hover:text-color-1 hover:border-color-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="h-[20px] aspect-square">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span class="text-sm">New Region</span>
            </label>
            <input type="checkbox" id="region-form-modal" class="peer" hidden>

            <!-- region form -->
            <div id="region-form-container"
                class="hidden absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 peer-checked:block  w-screen h-screen bg-transparent backdrop-blur-md active:hidden">
                <div th:replace="~{layout/forms/new-region :: region-form}">...</div>
            </div>
        </div>
        <!-- property button and form -->
        <div class="w-auto">
            <!-- new property button -->
            <label for="property-form-modal" class="cursor-pointer bg-color-1 inline-flex items-center   rounded-lg mb-4 mt-12 py-2 px-4 space-x-2 hover:bg-color-4 hover:text-color-1 hover:border-color-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-[20px] aspect-square">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span class="text-sm">New Property</span>
            </label>
            <input type="checkbox" id="property-form-modal" class="peer" hidden>


            <!-- property form -->
            <div id="property-form-container"
                class="hidden absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 peer-checked:block  w-screen h-screen bg-transparent backdrop-blur-md active:hidden">
                <div th:replace="~{layout/forms/new-property :: property-form}">...</div>
            </div>
        </div>

        <!-- location button and form -->
        <div class="w-auto">
            <!-- new location button -->
            <label for="location-form-modal" class="cursor-pointer bg-color-1 inline-flex items-center   rounded-lg mb-4 mt-12 py-2 px-4 space-x-2 hover:bg-color-4 hover:text-color-1 hover:border-color-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-[20px] aspect-square">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span class="text-sm">New Location</span>
            </label>
            <input type="checkbox" id="location-form-modal" class="peer" hidden>

            <!-- location form -->
            <div id="location-form-container"
                class="hidden absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 peer-checked:block  w-screen h-screen bg-transparent backdrop-blur-md active:hidden">
                <div th:replace="~{layout/forms/new-location :: location-form}">...</div>
            </div>
        </div>
    </div>

</div>