<div th:fragment="equipment-management">




    <div th:if="${session.authUser.isAdmin}" class="flex items-center justify-start mb-8 space-x-2 text-app-white">
        <div id="manage-manufacturer-btn" class="  inline-flex items-center bg-color-3 py-2 px-4 rounded-md cursor-pointer  hover:bg-color-4 hover:text-color-1">
            <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="h-8 aspect-square mr-1 ">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M11.445 20.913a1.665 1.665 0 0 1 -1.12 -1.23a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.31 .318 1.643 1.79 .997 2.694" />
                <path d="M15 19l2 2l4 -4" />
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
            </svg>
            <span>Manufacturers/Models</span>
        </div>
    </div>



    <div class="flex justify-between items-center mb-8 p-4 bg-app-white-40 rounded-md">
        <div>
            <h2 class="text-2xl font-semibold">Equipment Management</h2>
            <p class="text-sm">Track and move equipment across locations.</p>
        </div>


        <!-- equipment button and form -->
        <div class="flex justify-end items-center">

            <!-- new equipment button -->
            <div id="open-equipment-form-btn" class="cursor-pointer bg-color-3 flex w-auto space-x-1 items-center justify-between text-md text-app-white font-semibold outline-none border-2 border-color-3 rounded-lg mb-4 mt-8 py-2 px-4 hover:bg-color-4 hover:text-color-1 hover:border-color-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 aspect-square">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span class="text-sm">New Equipment</span>
            </div>

            <!-- equipment form -->
            <div id="equipment-form-container" class="hidden absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2  w-screen h-screen bg-transparent backdrop-blur-md ">
                <div th:replace="~{layout/forms/new-equipment :: equipment-form}">...</div>
            </div>
        </div>
    </div>




    <!-- EQUIPMENT SEARCH -->
    <div class="grid grid-cols-3 gap-6 mb-8 bg-color-1-40 text-color-1 border-2 border-color-3/10 p-4 rounded-md">
        <div class="flex flex-col space-y-1">
            <label for="eq-search">Search</label>
            <input id="eq-search" type="text" class="focus:outline outline-offset-2 outline-2 outline-app-white" placeholder="Equipment Name or Serial Number">
        </div>
        <div class="flex flex-col space-y-1">
            <label for="">Property</label>
            <select name="" id="">
                <option class="bg-color-3" value="" selected hidden>Search by Property</option>
                <option class="bg-color-3" value="">Property 1</option>
                <option class="bg-color-3" value="">Property 2</option>
                <option class="bg-color-3" value="">Property 3</option>
            </select>
        </div>
        <div class="flex flex-col space-y-1">
            <label for="">Model</label>
            <select name="" id="">
                <option class="bg-color-3" value="" selected hidden>Search by Model</option>
                <option class="bg-color-3" value="">Model 1</option>
                <option class="bg-color-3" value="">Model 2</option>
                <option class="bg-color-3" value="">Model 3</option>
            </select>
        </div>
    </div>



    <!-- EQUIPMENT TABLE -->
    <div th:replace="~{layout/components/equipment-table :: equipment-table}">...</div>


</div>