

<div th:fragment="property-management" th:if="${session.authUser.isAdmin}">

    <div class="flex items-center justify-start mb-8 space-x-2 text-app-white">
        <div class="  inline-flex items-center bg-color-3 py-2 px-4 rounded-md cursor-pointer  hover:bg-color-4 hover:text-color-1">
            <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="h-8 aspect-square mr-1 ">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M11.445 20.913a1.665 1.665 0 0 1 -1.12 -1.23a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.31 .318 1.643 1.79 .997 2.694" />
                <path d="M15 19l2 2l4 -4" />
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
            </svg>
            <span>Regions</span>
        </div>


    </div>
    <div class="flex justify-between items-center mb-12 p-4 bg-app-white-40 rounded-md">
        <div>
            <h2 class="text-2xl font-semibold">Property/Location Management</h2>
            <p class="text-sm">Create, update and remove properties and locations.</p>
        </div>


        <!-- NEW PROPERTY/LOCATION BUTTON AND FORM -->
        <div class="flex justify-end items-center space-x-2">


            <!-- location form -->
            <div id="location-form-container" class=" hidden absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 peer-checked:block  w-screen h-screen bg-transparent backdrop-blur-md ">
                <div th:replace="~{layout/forms/location-forms :: location-form}">...</div>
            </div>


            <!-- new property button -->
            <div id="open-property-form-btn" class="cursor-pointer bg-color-3 flex w-auto space-x-1 items-center justify-between text-md text-app-white font-semibold outline-none border-2 border-color-3 rounded-lg mb-4 mt-8 py-2 px-4 hover:bg-color-4 hover:text-color-1 hover:border-color-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 aspect-square">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span class="text-sm">New Property</span>
            </div>

            <!-- property form -->
            <div id="property-form-container" class=" hidden absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 peer-checked:block  w-screen h-screen bg-transparent backdrop-blur-md ">
                <div th:replace="~{layout/forms/property-forms :: property-form}">...</div>
            </div>
        </div>
    </div>

    <!-- property/location list -->
    <div class="flex ">
        <div class="flex flex-col w-full ">
            <h1 class="text-2xl font-semibold ">Property List</h1>

            <div th:each="property : ${propertyList}"    class="flex flex-col justify-between capitalize w-full p-4 my-6 shadow-app-shadow rounded-md">

                <div class="flex items-center justify-between mb-4   ">

                    <div class="flex items-center justify-between">
                        <!-- properties -->
                        <div class="hidden" th:text="${property.id}"></div>
                        <div th:text="${property.name}"  class=" flex-none  text-xl font-semibold  " ></div>

                        <!-- property edit/delete -->
                        <div class="flex justify-start w-auto ml-4 space-x-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                class="edit-property h-5 aspect-square cursor-pointer">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                <path d="M13.5 6.5l4 4" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                class="delete-property h-5 aspect-square cursor-pointer">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 7l16 0" />
                                <path d="M10 11l0 6" />
                                <path d="M14 11l0 6" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                        </div>
                    </div>


                    <!-- add location button -->
                    <div  class="  add-location-btn     cursor-pointer bg-color-3  flex  space-x-1 items-center justify-between text-md text-app-white font-semibold outline-none border-2 border-color-3 rounded-lg  py-2 px-4 hover:bg-color-4 hover:text-color-1 hover:border-color-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 aspect-square">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <span class="text-sm">Add Location</span>
                    </div>


                </div>

                <div class="grid grid-cols-4 gap-4 w-full">

                    <!-- locations -->
                    <div  th:each="location : ${property.locations}" class="flex justify-between bg-color-3-40 rounded-md  group">
                        <span th:text="${location.property.region.id}"  class=" hidden" ></span>
                        <span th:text="${location.property.user.id}"  class=" hidden" ></span>
                        <span th:text="${location.property.id}"  class=" hidden" ></span>
                        <span class="flex flex-col items-start space-x-4 p-4 m-2 font-light text-lg truncate " th:text="${location.name}"></span>

                        <!-- location edit/delete -->
                        <div class="flex flex-col justify-evenly px-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                class="edit-location hidden group-hover:inline  h-5 aspect-square cursor-pointer">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                <path d="M13.5 6.5l4 4" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                class="delete-location hidden group-hover:inline  h-5 aspect-square cursor-pointer">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 7l16 0" />
                                <path d="M10 11l0 6" />
                                <path d="M14 11l0 6" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>