






    <div th:fragment="equipment-form" class=" flex flex-col absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 ">

        <div class="inline-flex justify-end w-auto self-end">
            <svg id="close-equipment-form-btn" xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="h-8 aspect-square mb-2 cursor-pointer">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </div>

        <form id="equipment-form" method="post" th:action="@{/add-equipment}" th:object="${equipmentModel}" class="bg-app-white  w-96 p-6 rounded-lg shadow-app-shadow">

            <h1 id="equipment-form-heading" class="text-3xl font-thin mb-4">Create Equipment</h1>
            <!-- Id -->
            <input id="equipment-id" type="hidden" name="id">





                <!-- Location dropdown for admin -->
                <div class="mb-3" th:if="${session.authUser.isAdmin}" >
                    <label for="equipment-location">Location</label>
                    <select name="location" id="equipment-location"  class="capitalize" required>
                        <option value="" hidden>Select Location</option>
                        <th:block th:each="propertyLocations : ${locationsByProperty}">
                            <optgroup th:label="${propertyLocations.key}">
                                <option th:each="location : ${propertyLocations.value}"
                                    th:value="${location.property.id + ',' + location.name}"
                                    th:text="${ location.name}">
                                </option>
                            </optgroup>
                        </th:block>
                    </select>
                </div>

                <!-- Location dropdown for non-admin -->
                <div class="mb-3" th:unless="${session.authUser.isAdmin}" >
                    <label for="equipment-location">Location</label>
                    <select name="location" id="equipment-location"  class="capitalize" required>
                        <option value="" hidden>Select Location</option>
                        <th:block th:each="propertyLocations : ${userLocationList}">
                            <optgroup th:label="${propertyLocations.key}">
                                <option th:each="location : ${propertyLocations.value}"
                                    th:value="${location.property.id + ',' + location.name}"
                                    th:text="${ location.name}">
                                </option>
                            </optgroup>
                        </th:block>
                    </select>
                </div>



            <!-- Equipment model  -->
            <div class="mb-3">
                <label for="equipment-model">Equipment Model</label>
                <select name="model" id="equipment-model" class="mt-1   focus:ring focus:ring-color-3 focus:ring-opacity-50 focus:ring-offset-2  capitalize">
                    <option value="" hidden>Select Equipment Model</option>
                    <th:block th:each="manufacturer : ${manufacturerList}">
                        <optgroup th:label="${manufacturer.name}">
                            <option th:each="model : ${modelList}" th:if="${model.manufacturer.id == manufacturer.id}" th:value="${model.manufacturer.id +',' + model.description}" th:text="${manufacturer.name +' - '+model.description}"></option>
                        </optgroup>
                    </th:block>
                </select>
            </div>



            <!-- Serial Number -->
            <div class="mb-3">
                <label for="serial-number" class="">Serial Number</label>
                <input type="text" id="serial-number" name="serialNumber" class="mt-1   focus:ring focus:ring-color-3 focus:ring-opacity-50 focus:ring-offset-2 uppercase placeholder:normal-case placeholder:text-color-1" placeholder="Enter Serial Number">
            </div>

            <!-- Manufactured Date -->
            <div class="mb-3">
                <label for="manufactured-date">Manufactured Date</label>
                <input type="month" id="manufactured-date" name="manufacturedDate"  class="mt-1   focus:ring focus:ring-color-3 focus:ring-opacity-50 focus:ring-offset-2 uppercase placeholder:normal-case placeholder:text-color-1" placeholder="Select Manufactured Date">
            </div>

        </form>
        <button id="equipment-form-submit" form="equipment-form" type="submit" class="mt-4">Create Equipment</button>


        <!-- Delete equipment -->
        <form id="delete-equipment" th:action="@{/delete-equipment}" method="post">
            <input type="hidden" name="id" id="delete-equipment-id">
        </form>
    </div>


