





<div th:fragment="location-form" class=" flex flex-col absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 ">
    <!-- Close button -->
    <div class="inline-flex justify-end w-auto self-end">
        <svg id="close-location-form-btn" xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="h-8 aspect-square mb-2 cursor-pointer">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </div>
    <form id="location-form"  method="post" th:action="@{/add-location}"  class="bg-app-white  w-96 p-6 rounded-lg shadow-app-shadow" th:object="${locationModel}">

        <input type="hidden" name="id" id="location-id" value="0,0" />
        <h1 id="location-form-title" class="text-3xl font-thin mb-4"></h1>

        <div class="mb-4" id="property-container">
            <label for="location-property">Property</label>
            <input type="text" name="property" id="location-property"  readonly>
        </div>

        <div class="mb-4">
            <label for="location-name">Name</label>
            <input type="text" id="location-name" name="name" required class="mt-1   focus:ring focus:ring-color-3 focus:ring-opacity-50 focus:ring-offset-2 capitalize placeholder:normal-case placeholder:text-color-1-40 " placeholder="Enter location name" />
        </div>

    </form>
    <button id="location-form-submit" form="location-form" type="submit" class="mt-4"></button>


    <!-- Delete form -->
    <form id="delete-location" th:action="@{/delete-location}" method="post">
        <input type="hidden" name="id" id="delete-location-id">
    </form>
</div>

