<div th:fragment="manufacturer-form" class=" flex flex-col absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2  w-auto ">
    <div class="inline-flex justify-end w-auto self-end">
        <svg id="close-manufacturer-form-btn" xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="h-8 aspect-square mb-2 cursor-pointer">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </div>
    <form id="manufacturer-form" class="bg-app-white  w-96 p-6 rounded-lg shadow-app-shadow"  method="post" th:action="@{/add-manufacturer}" >
        <input type="hidden" name="id" id="manufacturer-id"/>
        <h1 id="manufacturer-form-heading" class="text-3xl font-thin mb-4">Create Manufacturer</h1>
        <div class="">
            <label for="manufacturer-name" class="">Manufacturer Name</label>
            <input type="text" id="manufacturer-name" name="name" required class="mt-1 block w-full  rounded-md outline-none border-none focus:ring focus:ring-color-3 focus:ring-opacity-50 focus:ring-offset-2 capitalize" placeholder="Enter Manufacturer Name" />
        </div>
    </form>

    <div class="">
        <button id="manufacturer-form-submit" form="manufacturer-form" type="submit" class="mt-4">Create Manufacturer</button>
    </div>
</div>