

<div th:fragment="equipment-form" class="flex absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 rounded-lg items-center justify-center h-auto bg-color-2 max-w-[400px] p-6 border border-app-white">
    <form id="equipment-form" method="post" th:action="@{/add-equipment}" th:object="${equipmentModel}">

        <h1 class="text-3xl font-thin mb-4">Create Equipment</h1>

        <div class="mb-4">
            <label for="serial-number" class="">Serial Number</label>
            <input type="text" id="equipment-serial-number" name="serialNumber" required class="mt-1 block w-full  focus:ring focus:ring-app-white focus:ring-opacity-50">
        </div>

        <div class="mb-4">
            <label for="model">Model</label>
            <select name="model" id="model" class="focus:ring focus:ring-app-white focus:ring-opacity-50 capitalize">
                <option value="" hidden>Select Model</option>
                <option th:each="model : ${modelList}" th:value="${model.id}" th:text="${model.description}" class="capitalize"></option>
            </select>
        </div>

        <div class="mb-4">
            <label for="location">Location</label>
            <select name="location" id="location" class="focus:ring focus:ring-app-white focus:ring-opacity-50 capitalize">
                <option value="" hidden>Select Location</option>
                <option th:each="location : ${locationList}" th:value="${location.id}" th:text="${location.property.name} + ' -- ' + ${location.name}" class="capitalize"></option>
            </select>
        </div>

        <div class="mb-4">
            <label for="manufactured-date">Manufactured Date</label>
            <input type="month" id="manufactured-date" name="manufacturedDate" required class="mt-1 block w-full  focus:ring focus:ring-app-white focus:ring-opacity-50">
        </div>

        <div class="flex justify-end">
            <button id="equipment-form-submit" type="submit" class="mt-4">Create Equipment</button>
        </div>

        <!-- cancel button -->
        <div id="close-equipment-form" for="user-form-modal" class="flex justify-center items-center ring-1 ring-app-white font-semibold h-8 rounded my-4 w-full text-center cursor-pointer">
            <span class="text-app-white">Cancel</span>
        </div>

    </form>
</div>