







<div th:fragment="user-form" class="flex absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 rounded-lg items-center justify-center h-auto bg-color-2 max-w-[400px] p-6 border border-app-white">

    <form action="#" method="post" th:action="@{/app/register}"  th:object="${registerModel}">

        <!-- show only in initial setup -->
        <div th:unless="${userList}" class="my-4">
            <h1 class="text-3xl font-thin mb-4">Initial Setup</h1>
            <p class="text-sm italic mb-4">Please enter a name and a valid email address to initialize the application. A temporary password will be sent to the email address provided.</p>
            <input type="hidden" name="role" th:value="${admin}">
        </div>

        <h1 th:if="${userList}" class="text-3xl font-thin my-4">Create User</h1>

        <!-- First Name -->
        <div class="my-2">
            <label for="firstName">First Name</label>
            <input type="text" th:field="*{firstName}">
        </div>

        <!-- Last Name -->
        <div class="mb-2">
            <label for="lastName">Last Name</label>
            <input type="text" th:field="*{lastName}">
        </div>

        <!-- Email -->
        <div class="mb-2">
            <label for="email">Email</label>
            <input type="email" th:field="*{email}">
        </div>

        <!-- Admin Toggle Switch shown only in the admin panel-->
        <div th:if="${userList}">
            <label for="toggleSwitch" class="inline-flex items-center cursor-pointer w-auto ">
                <span class="mr-4 text-app-white">Admin</span>
                <div class="relative">
                    <div class="relative">

                        <!-- Role -->
                        <input id="role" class="sr-only" type="checkbox" name="role" th:value="${editor}" checked>
                        <input type="checkbox" name="role" id="toggleSwitch" class="sr-only peer"  th:value="${admin}">

                        <!-- toggle background -->
                        <div class="w-12 h-6 bg-color-3 peer-checked:bg-color-4 rounded-full peer-focus:ring-2 border-none outline-0 ring-0 transition-all duration-300 ease-in-out"></div>

                        <!-- toggle slider -->
                        <div class="absolute left-0 top-0 w-6 h-6 bg-color-2 border border-color-3 peer-checked:border-color-4 rounded-full transform transition-transform duration-300 ease-in-out peer-checked:translate-x-6  peer-unchecked:translate-x-0 peer-unchecked:bg-color-2"></div>
                    </div>
                </div>
            </label>
        </div>

        <button  class=" mt-4">Create User</button>

        <!-- show only in admin panel -->
        <label th:if="${userList}" for="user-form-modal" class="flex justify-center items-center ring-1 ring-app-white font-semibold h-8 rounded my-4 w-full text-center cursor-pointer">
            <span  class=" text-app-white" >Cancel</span>
        </label>
    </form>
</div>