
<div th:fragment="region-form" class="flex absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 rounded-lg items-center justify-center h-auto bg-color-2 max-w-[400px] p-6 border border-app-white">
    <form id="region-form" action="#" method="post" th:action="@{/add-region}" th:object="${regionModel}">

        <h1 class="text-3xl font-thin mb-4">Create Region</h1>

        <div class="mb-4">
            <label for="name">Region Name</label>
            <input type="text" id="name" name="name" required class="mt-1 block w-full  focus:ring focus:ring-app-white focus:ring-opacity-50 capitalize">
        </div>

        <div class="flex justify-end">
            <button id="region-form-submit" type="submit" class="mt-4">Create Region</button>
        </div>

        <!-- cancel button -->
        <div id="close-region-form" form="region-form" class="flex justify-center items-center ring-1 ring-app-white font-semibold h-8 rounded my-4 w-full text-center cursor-pointer">
            <span class=" text-app-white">Cancel</span>
        </div>

    </form>
</div>