<div th:fragment="property-form" class=" flex flex-col absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 ">

    <!-- Close button -->
    <div class="inline-flex justify-end w-auto self-end">
        <svg id="close-property-form-btn" xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="h-8 aspect-square mb-2 cursor-pointer">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </div>
    <form id="property-form" class="bg-app-white  w-96 p-6 rounded-lg shadow-app-shadow" method="post" th:action="@{/add-property}" th:object="${propertyModel}">

        <h1 id="property-form-title" class="text-3xl font-thin mb-4">Create Property</h1>

        <!-- Id (hidden) -->
        <input type="hidden" name="id" id="property-id">

        <!-- Region -->
        <div class="mb-4">
            <label for="property-region">Region</label>
            <select name="region" id="property-region" class="mt-1   focus:ring focus:ring-color-3 focus:ring-opacity-50 focus:ring-offset-2  capitalize">
                <option class="text-color-1-40" value="" hidden>Select Region</option>

                <option th:each="region : ${regionList}" th:value="${region.id}" th:text="${region.name}" class="capitalize"></option>
            </select>
        </div>

        <!-- Property name -->
        <div class="mb-4">
            <label for="property-name">Property Name</label>
            <input type="text" id="property-name" name="name" required class="mt-1   focus:ring focus:ring-color-3 focus:ring-opacity-50 focus:ring-offset-2  placeholder:normal-case placeholder:text-color-1-40  capitalize" placeholder="Enter property name">
        </div>

        <!-- user -->
        <div class="mb-4">
            <label for="property-user">User</label>
            <select name="user" id="property-user" class="mt-1   focus:ring focus:ring-color-3 focus:ring-opacity-50 focus:ring-offset-2  capitalize">
                <option class="text-color-1-40" value="" hidden>Assign Techician</option>

                <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}" class="capitalize"></option>
            </select>
        </div>

    </form>
    <button id="property-form-submit" form="property-form" type="submit" class="mt-4">Create Property</button>

    <!-- Delete form -->
    <form id="delete-property" th:action="@{/delete-property}" method="post">
        <input type="hidden" name="id" id="delete-property-id">
    </form>
</div>