<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/output.css}" rel="stylesheet" />
        <title>Equipment Inventory</title>
    </head>
    <body>
        <div class="w-screen h-screen">


            <!-- Error message window -->
            <div th:replace="~{layout/components/ui-message}"></div>


            <!-- Confirmation window for status/delete -->
            <div th:replace="~{layout/components/confirmation-window}"></div>



            <!-- Content -->
            <section layout:fragment="content"></section>

        </div>
    </body>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" th:src="@{/js/user-script.js}"></script>
    <script type="module" th:src="@{/js/equipment-script.js}"></script>
    <script type="module" th:src="@{/js/property-script.js}"></script>
    <script type="module" th:src="@{/js/script.js}"></script>
</html>