






<!DOCTYPE html>
<html layout:decorate="~{layout/defaultLayout}" xmlns:th="http://www.thymeleaf.org">
    <div layout:fragment="content"  class="container min-h-full w-4/5 mx-auto pb-4 scroll-smooth">

        <!-- NAVBAR -->
        <div th:insert="~{layout/components/navbar :: navbar}" class="sticky top-0">...</div>


        <!-- SCREENS -->
        <div>
            <div  id="manage-equipment-screen"    th:insert="~{layout/dashboard-screens/equipment-management :: equipment-management}"  ></div>
        </div>

        <div>
            <div id="manage-manufacturer-screen" th:insert="~{layout/dashboard-screens/manufacturer-management :: manufacturer-management}"></div>
        </div>

        <div  >
            <div  id="manage-user-screen"  th:insert="~{layout/dashboard-screens/user-management :: user-management}"   ></div>
        </div>

        <div  >
            <div id="manage-property-screen"  th:insert="~{layout/dashboard-screens/property-management :: property-management}"   ></div>
        </div>

        <div >
            <div  id="manage-report-screen"   th:insert="~{layout/dashboard-screens/report-management :: report-management}"  ></div>
        </div>

    </div>
</html>