<html layout:decorate="layout/defaultLayout" xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content"  class="absolute top-1/2 -translate-y-1/2   left-1/2 -translate-x-1/2 text-app-white  bg-color-1 h-[540px] w-[800px] mx-auto flex ">
        <form action="#" id="auto-form" method="post" th:action="@{/send-password}" th:object="${email}">
            <input th:field="*{recipient}" type="hidden" >
            <input th:field="*{subject}" type="hidden" >
            <input th:field="*{messageBody}" type="hidden" >
        </form>
    </div>
</html>