



<div th:fragment="confirm-window">
    <div id="confirm-window" class="hidden absolute z-10 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 h-screen w-screen bg-app-white-40 backdrop-blur-md">
        <div class=" absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 ">
            <!-- Close button -->
        <div th:if="${userList}" class="inline-flex justify-end w-full">
            <svg id="confirm-close" xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="h-8 aspect-square mb-2 cursor-pointer">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </div>
            <div class="flex flex-col space-y-3 w-96 p-6 rounded-lg bg-app-white shadow-app-shadow">
                <h1 id="confirm-heading" class="text-3xl font-thin  text-color-3 "></h1>
                <p id="confirm-question" class="py-2"></p>
            </div>
            <div class="flex justify-between space-x-2 w-full mt-4">
                <button id="delete-confirm-btn" class=" flex-none basis-1/2 hidden hover:bg-color-4" type="submit" >Yes, delete</button>
                <button id="status-confirm-btn" class=" flex-none basis-1/2 hidden hover:bg-color-4" type="submit">Yes</button>
                <span id="confirm-no" class="w-1/2 font-semibold flex justify-center items-center bg-color-3-40 rounded-md cursor-pointer hover:bg-color-4-40">No</span>
            </div>
        </div>
    </div>
</div>